.album {
  width: 15vw;
  height: auto;
  margin-top: 2rem;
  border: 2px solid transparent;
  box-shadow: 0 0 10px white;
}

.song {
  .albumHeader {
    padding: 0;
    padding-bottom: 1rem;
    height: 3rem;
    p {
      time {
        font-size: 0.9rem;
      }
    }
  }
}
