.album {
  width: 15vw;
  height: auto;
  margin: 2rem;
  border: 2px solid transparent;
  box-shadow: 0 0 10px white;
}

.songs {
  .links {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-evenly;
    align-items: center;
    a {
      width: 20vw;
      margin: 0.5vw;
      padding: 2px;
      background-color: bisque;
      color: Black;
      font-family: "Metal mania";
      border: 2px solid transparent;
      box-shadow: 0 0 10px white;
    }
    a:hover {
      background-color: red;
    }
  }
  .albumHeader {
    padding: 0;
    padding-bottom: 1rem;
    height: 3rem;
    margin-bottom: 4rem;
    h3 {
      font-size: 1.5rem;
    }
    p {
      time {
        font-size: 0.9rem;
      }
    }
  }
  section {
    h4 {
      color: red;
      margin: 20px 12px;
      font-style: none;
    }
    p {
      font-style: italic;
    }
  }
}
