.album {
  width: 15vw;
  height: auto;
  margin-top: 2rem;
  border: 2px solid transparent;
  box-shadow: 0 0 10px white;
}

.songs {
  .albumHeader {
    padding: 0;
    padding-bottom: 1rem;
    height: 3rem;
    h3{
        font-size: 1.5rem;
    }
    p {
      time {
        font-size: 0.9rem;
      }
    }
  }
  section {
    h4 {
      color: red;
      margin: 20px 12px;
      font-style: none;
    }
    p {
      font-style: italic;
    }
  }
}
