// import styles components
@import "./styles/header.scss";
@import "./styles/nav.scss";

// import font
@import url("https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap");

* {
  margin: 0;
  font-size: 1.25rem;
  font-family: "Metal mania";
}

body {
  background-color: black;
  color: white;
  display: flex;
}
