// import styles components
@import "./styles/header.scss";
@import "./styles/nav.scss";
@import "./styles/home.scss";
@import "./styles/cardMember.scss";

// import font
@import url("https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap");

* {
  margin: 0;
  font-size: 1.25rem;
}

body {
  background-color: black;
  color: white;
  display: flex;
}

#root {
  display: flex;
  flex-direction: row;

  main {
    display: flex;
    flex-direction: column;
    width: 70vw;
    align-items: center;
    border-left: 0.5px solid rgba(255, 255, 255, 0.375);
  }
  .mainImg {
    width: 300px;
    height: auto;
  }
}

h2,
h3 {
  font-family: "Metal mania";
}
